<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>testImage</title>
</head>
<body>
<header>
	<h1>이미지 처리 태그 연습 페이지</h1>
</header>
<hr>
<section>
	<dl> <!-- 정의 목록 : 용어에 대한 설명을 목록으로 표시하는 태그임" -->
			<dt>img 태그</dt> <!-- 용어에 대한 단어를 작성하는 태그임 -->	
			<dd>웹 페이지에 그림 또는 사진(이미지 파일)을 표시할 때 사용하는 태그임<br>
					필수 속성은 src(source), src="이미지파일명.확장자" <br>
					웹에서 사용 가능한 이미지 파일의 종류 gif, jpg, png(웹 전용 압축포맷)<br>
					이미지파일의 폴더 위치 지정은 상대경로와 절대경로 둘 다 사용 가능함<br>
					상대경로 : 현재 문서를 기준으로 대상 파일을 찾아가는 경로임<br>
					절대경로 : 웹 어플리케이션의 root에서 시작하는 경로, "/context root명/디렉토리/파일명.확장명"
			</dd> <!-- 용어에 대한 단어를 작성하는 태그임 -->			
	</dl>
	<hr width="50%" align="center" color="green" noshade size="2">
	<br>
	<img alt="연습용 이미지" src="../../resources/images/flower1.jpg" width="200" heigt="150">
	<br>
</section>
<article>
시작페이지로 이동하려면 그림을 클릭하세요. <a href="/testh/index.html"><img src="/testh/resources/images/cyworld.jpg"></a>
</article>
<div>
	<figure>
		<img alt="연습2" src="/testh/resources/images/flower2.jpg" width="150" height="100">
		<img alt="연습3" src="/testh/resources/images/flower3.jpg" width="150" height="100">
		<img alt="연습4" src="/testh/resources/images/flower4.jpg" width="150" height="100">
		<figcaption>
			요즘에는 보기 힘듬 빨간색 우체통, 그림 여러 개에 설명을 붙어줄 수도 있음
		</figcaption>
	</figure>
</div>
<hr>
<footer> <!-- 웹페이지의 하단 영역을 의미하는 태그 -->
	<center>
		바닥글 영역을 의미함, 회사명, 회사주소, 전화번호, 팩스번호, 저작권 정보 등 표시함<br>
		copyrighit@testh.com 2024. 2. 13 developer : test master<br>
		Tel : 02-1234-5678, Fax : 02-1234-5677<br>
		서울시 서초구 서초대로 77	
	</center>
</footer>
</body>
</html>