<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- 웹문서의 기본 글자 크기는 font size 3 (12 point)임
		font 태그 : 글자크기, 글자색, 글꼴 지정하는 태그임
		font size는 1 ~ 7까지 지정할 수 있음
		문서 작성용 프로그램 (오피스, 한글)의 글자 크기는 포인트 단위임
		1point == 0.039mm 임
		font size 1 == 8point
		font size 7 == 32point 정도임
 -->
 <b>html 태그 확인용 페이지</b> : 기본 글자는 검정색, size 3, 글꼴은 시스템 글꼴<br>
 <font size="7" color="lavend" face="궁서체">글꼴 관련<sup>font</sup>태그 적용 글자임</font><br> 
 <font size="4" color="#126d10" face="바탕체">글꼴 관련<sub>font</<sub>태그 적용 글자임</font><br>
 <!-- 글자 관련 태그들
 b : bold 줄임말, 굵고 진하게 표시함
 i : italic 줄임말, 기울임체호 표시함
 big : 현재 글자를 한단계 크게 표시함
 small : 현재 글자를 한단계 작게 표시함
 sub : subscript 줄임말, 아랫첨자로 표시함
 sup : superscript 줄임말, 윗첨자로 표시함
 u : underline 줄임말, 밑줄 표시함
 strike : 취소선 표시함
  -->
 <small>SMALL</small> 은 한단계 작게 표시하고, <big>BIG</big> 은 한단계 크게 표시함 <br>
 <strike>글 내용에 취소선 표시</strike><br>
 <tt>타자기 체로 표시</tt> <br>
 <hr>
 <!-- p 태그 : paragraph 줄임말, 만단에 대한 구역 지정시 사용하는 태그임
 					한 줄간격ㅇ로 띄워쓰기할 때 br 2번 사용을 대신하는 용도로도 사용됨
  -->
<p align="left">
<b>첫번째 문단</b><br>
Lorem Ipsum is simply dummy text of the printing and
 typesetting industry. Lorem Ipsum has been the industry'
 s standard dummy text ever since the 1500s, when an unknown
</p>
<p align="center">
<b>두번째 문단</b><br>
Lorem Ipsum is simply dummy text of the printing and
 typesetting industry. Lorem Ipsum has been the industry'
 s standard dummy text ever since the 1500s, when an unknown
</p>
<p align="right">
<b>세번째 문단</b><br>
Lorem Ipsum is simply dummy text of the printing and
 typesetting industry. Lorem Ipsum has been the industry'
 s standard dummy text ever since the 1500s, when an unknown
</p>
 
 
</body>
</html>