<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>sample5</title>
<style type="text/css">
/* style 태그 안, css 파일 안에서 사용할 수 이는 주석 기호임
	스타일시트에서는 이 주석 기호만 사용할 수 있음
*/
</style>
<script type="text/javascript">
	// 한줄 주석 기호 사용할 수 있음
	/* 여러 줄 주석기호도 사용할 수 있음 */

	// 전역변수(Global Variable) : 함수 블럭 {} 밖에서 선언된 변수
	// 자바스크립트는 브라우저에서 한 페이지를 표현하는 html 파일을 하나의 window 객체로 취급함
	// 이파일 안에서 만들어지는 전역변수는 자동으로 window 객체의 멤버변수가 됨
	var name = '홍길동';
	// 전역변수는 var 없이 변수 선언해도 됨

	age = 29;
	// console.log(age);
	// 변수 선언 위치 아래쪽에서 변수 사용할 수 있음

	function testFn() {
		// alert('이름 : ' + window.name + "\n나이 : " + window.age);
		alert('이름 : ' + name + "\n나이 : " + age);

		// 지역변수 (Local Variable)
		// 함수 안, 제어문 안에서 선언된 변수
		// 선언된 블럭(구역) 안에서만 사용할 수 있는 변수
		// 반드시 var 을 앞에 사용해야 함
		// 함수 안에서 var 없이 변수 선언하면 자동 전역변수가 됨
		var email = 'admin@test.org'; // 지역변수
		address = '서울시 서초구 서초대로 77'; // 전역변수

		document.getElementById('area').innerHTML = '이름 : ' + name
				+ "<br>나이 : " + age + "<br>이메일 : " + email + "<br>주소 : "
				+ window.address;
		testFn2();
	}

	function testFn2() {
		document.getElementById('area2').innerHTML = '이름 : ' + name
				+ "<br>나이 : " + age
				/* + "<br>이메일 : " + email */+ "<br>주소 : " + window.address;
	}

	// onload 이벤트 : 웹서버에서 이 문서를 브라우저로 전송을 완료하면에 대한 이벤트임
	// 브라우저 페이지 코드 읽어들이기를 완료하면을 의미함
	// html 태그에 사용한다면 body 태그에 사용함
	// 자바스크립트 코드로 onload 이벤트를 작동시키려면, window 객체만 작동시킬 수 있음
	// 내장객체명.on이벤트 = 실행시킬함수명;
	// window.onload = testFn; // 함수이름만 사용함, 함수명 뒤에 () 표기 안 함
</script>
</head>
<!-- <body onload="testFn();"> -->
<body>
	<h1>주석문, 변수, 자료형, 연산자 테스트 페이지</h1>
	<!-- html 주석 태그임 : 브라우저 페이지에서는 안 보임 -->
	<!-- 브라우저에서 페이지 소스 보기로는 볼 수 있음 -->
	<div id="area"
		style="width: 300px; height: 100px; border: 1px solid #00f;"></div>
	<hr>
	<div id="area2"
		style="width: 300px; height: 100px; border: 1px solid red;"></div>
	<hr>

	<h3>문자열 숫자의 + 연산</h3>
	<p>
		문자열 + 숫자 => 문자열이 됨 <br> 숫자 + 숫자 + 문자열 => 숫자 두 개가 먼저 계산 되고, 그 결과값과
		문자열이 합쳐짐
	</p>
	<script type="text/javascript">
		document.write("apple" + 20 + 30); // apple2030
		document.write('<br>');
		document.write(20 + 30 + 'banana'); // 50banana
	</script>
	<hr>

	<h3>자바스크립트에서 문자열 다루기 : string 내장객체의 메소드 사용</h3>
	<script type="text/javascript">
		var str = "javascript";

		document.write("str : " + str + "<br>");
		document.write("글자갯수 : " + str.length + "<br>");
		document.write("대문자로 변환 : " + str.toUpperCase() + "<br>");
		document.write("4번째 인덱스 위치의 문자 변환 : " + str.charAt(4) + "<br>");
		document.write("t 문자의 인덱스 순번 : " + str.indexOf('t') + "<br>");
		document.write("0번째부터 3번째까지 추출 : " + str.substring(0, 4) + "<br>");

		document.write(("b" + "a" + +"a" + "a").toLowerCase());
	</script>

	<h3>자바스크립트에서 숫자데이터 처리 : Math 내장객체의 메소드 사용</h3>
	<script type="text/javascript">
		var value = Math.random();
		document.write("value : " + value + "<br>");
		document.write("-5의 절대값 : " + Math.abs(-5) + "<br>");
		document.write("소숫점아래 둘때자리까지 반올림 처리 : "
				+ (Math.round(value * 100) / 100) + "<br>");
	</script>
	<hr>

	<h3>용어 정리</h3>
	<script type="text/javascript">
		var value1 = 12;
		var value2 = 'grape';

		document.write("value1 : " + value1 + (typeof value1) + "<br>");
		document.write("value2 : " + value2 + (typeof (value2)) + "<br>");
		document.write(value1 + "3" + "<br>");
		document.write(value1 + Number("3") + "<br>");
		document.write(value1 + parseInt("3") + "<br>");
	</script>

</body>
</html>