<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>sample2</title>
<script type="text/javascript" src="/testj/resources/js/main.js" defer ></script>
</head>
<body>
	<h1>자바스크립트에서 데이터 출력하는 방법</h1>
	<ol>
		<li>자바스크립트 내장객체 중 최상위 객체인 window 객체가 제공하는 alert() 메소드를 사용하는 방법</li>
		<button onclick="testAlert()">클릭! alert()에 출력</button>
		<hr>

		<li>window 객체의 후손이 document 객체가 제공하는 write() 또는 writeln()메소드로
			body 영역에 출력하는 방법</li>
		<script type="text/javascript">
			document.write('write() 메소드로 구문 작성한 위치에 바로 출력 확인함.');
		</script>

		<li>태그 엘리먼트에 innerHTML 필드를 사용해서 태그 안에 값을 출력하는 방법</li>
		<button onclick="this.innerHTML='*^^*'; ">클릭하면 글자가 바뀝니다.</button>

		<li>브라우저가 제공하는 개발자도구의 콘솔뷰에 출력하는 방법</li>
		<button onclick="printConsole();">콘솔뷰에 출력 확인</button>
		<script type="text/javascript">
			function printConsole() {
				// 내장객체는 자바스크립트 내장객체와 브라우저 내장객체가 있음
				// 브라우저 내장객체인 console 의 log() 메소드를 이용함
				console.log("개발자도구의 콘솔에 메세지 출력 확인")
				var age = 29;
				var name = '홍길동';
				console.log('age : ' + age);
				console.log('name : ' + name);
			}
		</script>

		<li>form 태그의 입력양식인 input 태그의 값으로 출력하는 방법</li>
		<input type="number" id="num1" value="0" min="0" max="100"> + 
		<input type="number" id="num2" value="0" min="0" max="100">
		<input type="number" id="result" value="0"> <br>
		<p id="demo4" style="border 1px solid black; background:yellow;">
			더하기 결과 : 
		</p>
		<input type="button" value="계산하기" onclick="calculator();">
		<hr>
		
		<li>자바스크립트 자료형 확인</li>
		<button onclick="checkType()">자료형 확인</button>
	</ol>
</body>
</html>