<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>sample9</title>
<script type="text/javascript">
	/* window.onload = function() {
		// body 영역에서 마우스 버튼 눌렀을 때 작동되는 이벤트
		document.body.onmousedown = function() {
			console.log("body에서 마우스 버튼 누름");
		};

		// 이벤트 핸들러 콜백함수에는 발생한 이벤트 정보를 다루는 event 매개변수를 사용할 수 있음
		document.body.onmousemove = function(event) {
			console.log(event.x + ", " + event.y)
		}
	}; */
</script>

</head>
<body>
	<h1>자바스크립트에서 객체(json) 다루기</h1>
	<h2>객체 만들기 : function 객체명(){ 멤버 구성 }</h2>
	<button onclick="testObject();">실행확인</button>
	<p id="p1">
		함수명은 소문자로 시작함<br> 함수명은 소문자로 시작함<br>
	</p>

	<script type="text/javascript">
		function Book() { // 객체 정의이면서, 생성자가 됨
			// 필드(field) == 멤버변수 == 속성(property)
			// 멤버변수 만들기 : this.속성명 = 값;
			this.title = null;
			this.author = null;
			this.price = 0;

			// 메소드(method) == 멤버함수
			// 멤버함수 만들기 : this.메소드명 = function(){ 소스 작성 };
			this.setBook = function(t, a, p) {
				this.title = t;
				this.author = a;
				this.price = p;
			};
			this.display = function() {
				// 아이디 p1에 추가 기록
				document.getElementById('p1').innerHTML += this.title + ', '
						+ this.author + ", " + this.price + '<br>';
			};
		} // Book object

		// 객체 사용 함수 작성
		function testObject() {
			// 객체 생성
			var b = new Book();
			b.setBook('자바스크립트 기본', '제임스황', 35000);
			b.display();
		}
	</script>
	<hr>

	<h2>버튼 누르면 p2 영역에 div 태그가 추가되게 함</h2>
	<button onclick="addDiv();">div 추가</button>
	<p id="p2"></p>

	<script type="text/javascript">
		// 객체 만들기
		function MkDiv() {
			// 속성
			this.element = null;

			// 메소드
			this.make = function(id, w, h, c) {
				// div 태그 만들기해서 엘리먼트에 저장
				this.element = document.createElement("div");
				this.element.id = id;
				this.element.style.width = w + 'px';
				this.element.style.height = h + 'px';
				this.element.style.backgroundColor = c;

				return this.element;
			};
		}; // MkDiv object

		// 버튼 클릭시 실행될 함수
		function addDiv() {
			document.getElementById('p2').appendChild(
					new MkDiv().make('box', 30, 100, 'red'));

		}
	</script>
	<hr>

	<h2>from 입력양식에 값을 입력하고, 추가 버튼을 누르면 입력값들을 아래의 테이블에 한줄씩 추가되게 함</h2>
	<form action="" method="post">
		<label>이름 : <input type="text" name="username" id="username"></label>
		<br> <label>나이 : <input type="number" name="age" id="age"></label>
		<br> <label>성별 : <input type="radio" name="gender"
			value="남"> 남자 &nbsp; <input type="radio" name="gender"
			value="여"> 여자
		</label> <br> <label>전화 번호 : <input type="tel" name="phone"
			id="phone"></label> <br> <label>취미 : <input
			type="checkbox" name="hobby" value="movie"> 영화보기 &nbsp; <input
			type="checkbox" name="hobby" value="music"> 음악듣기 &nbsp; <input
			type="checkbox" name="hobby" value="travel"> 여행하기 &nbsp; <input
			type="checkbox" name="hobby" value="reading"> 책읽기 &nbsp; <input
			type="checkbox" name="hobby" value="sport"> 운동하기 &nbsp;
		</label> <br> <input type="button" value="추가하기" onclick="addUser();">
		<br>
	</form>
	<p id="p3">
	<table id="tbl" width="500" border="1" cellspacing="0">
		<tr>
			<th>이름</th>
			<th>나이</th>
			<th>성별</th>
			<th>전화번호</th>
			<th>취미</th>
		</tr>
		<!-- 입력값들로 새로운 행을 추가해 나감 -->
	</table>
	</p>

	<script type="text/javascript">
		function User() { // object, constructor
			// field (property)
			this.name = null;
			this.age = 0;
			this.gender = null;
			this.phone = null;
			this.hobby = null;

			// method
			this.setUser = function(name, age, gender, phone, hobby) {
				this.name = name;
				this.age = age;
				this.gender = gender;
				this.phone = phone;
				this.hobby = hobby;
			};
			// 추가할 <tr>에 대한 문자열을 작성해서 리턴하는 메소드
			this.makeRow = function() {
				var trRow = "<tr><td>" + this.name + "</td><td>" + this.age
						+ "</td><td>" + this.gender + "</td><td>" + this.phone
						+ "</td><td>" + this.hobby + "</td><tr>";
				return trRow;
			};
		} // function User
		
		// 추가하기 버튼 클릭시 실행될 이벤트 핸들러 작성
		function addUser() {
			// form 태그 안의 input 들에 기록된 값 또는 선택된 값을 변수에 저장 처리
			var name = document.getElementById("username").value;
			var age = document.getElementById("age").value;
			var phone = document.getElementById("phone").value;
			
			var genders = document.getElementsByName("gender"); // 태그 정보
			var gender = "";
			if(genders[0].checked == true) {
				// gender = genders[0].value;
				gender = '남자';
			} else if(genders[1].checked == true) {
				// gender = genders[1].value;
				gender = '여자';
			}
			
			var hobby = document.getElementsByName("hobby"); // 태그들
			var hobbyList = "";
			//var hobbyList = [];
			
			for(var i in hobby) {
				if(hobby[i].checked == true) {
					hobbyList += hobby[i].value + ', ';					
					//hobbyList += hobby[i].value;					
				}
			}
			console.log(hobbyList);
			
			var user = new User();
			user.setUser(name, age, gender, phone, hobbyList);
			console.log(user.makeRow());
			
			document.getElementById("tbl").innerHTML += user.makeRow();
		}
	</script>

</body>
</html>