<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>sample1</title>
<style type="text/css">
p {
	border: 1px solid #00f;
}
</style>
<!-- 외부에서 가지고 오는 자바스크립트 소스 파일은 head 영역에서 처리함 -->
<!-- src 속성을 추가해서 불러올 js 파일을 지정함 -->
<!-- 주의 : src가 사용된 script 태그 안에는 소스 작성 안함 -->
<script type="text/javascript" src="/testj/resources/js/main.js" defer></script>

</head>
<body>
	<h1>자바스크립트 작성 위치와 작성 방법</h1>
	<p id="demo1">inline 방식 : 시작태그에 on이벤트이름 속성을 추가하고, 속성의 값에 자바스크립트 소스를
		바로 작성하는 방식 on이벤트이름 속성은 자바스크립트가 제공하는 속성이며, 모든 태그에 사용할 수 있다.</p>
	<button
		onclick="document.getElementById('demo1').innerHTML = 'onclick 속성에 자바스크립트 소스를 직접 작성한 경우의 테스트 확인 글 !!'; ">클릭해
		보세요.</button>
	<br>
	<hr>
	<h2>Internal 방식 : 자바스크립트 소스를 script 태그 안에 함수(function) 단위로 작성해서
		실행하는 방식, 기본 방식</h2>
	<p id="demo2">
		script 태그의 작성 위치는 html 태그 밖, head 태그 안, body태그 안 어디에든 작성 가능함<br>
		script 태그가 문서 안에서 사용하는 횟수에도 제한 없음<br> script 태그 안에서 작성한
		함수(function)를 태그에서 실행을 하려면, on이벤트명 속성을 추가하고 값에 실행항 함수명을 기술하면 됨,
		on이벤트명="실행할함수명(전달값)"
	</p>
	<button onclick="myFunction1()">클릭해 보세요.2</button>
	<script type="text/javascript">
		function myFunction1() {
			/* var demo2 = document.getElementById('demo2'); */
			var demo2 = document.querySelector("#demo2");
			window.alert(demo2.innerHTML);
			demo2.innerHTML = 'script 태그 안에 작성된 함수가 실행되었음.'
		}
	</script>
	<br>
	<hr>
	<h2>External 방식 : 별도의 자바스크립트 소스 파일(*.js)을 작성해 두고, 웹 문서에서 가져다 사용하는
		방식</h2>
	<img onclick="toggleImage()" id="image1"
		src="../../resources/images/button.jpg" width="150" height="150"
		border="0">
	<p>
		그림을 클릭하면 해당 img 태그의 src 속성 값을 바꾸는 toggleImage() 함수가 실행됨<br> 그림을
		클릭할 때마다 교대로 바뀜
	</p>
	<hr>
	<p id="demo3">아래 버튼을 클릭하면, 스타일시트 css 속성이 바뀝니다.</p>
	<button onclick="changeCSS()">클릭</button>

</body>
</html>